.git
.opencode
packages/app
!packages/app/vendor
packages/console
packages/desktop
packages/desktop-electron
packages/enterprise
packages/storybook
packages/web
packages/containers
packages/docs
packages/extensions
packages/identity
